### Lists

In [1]:
People = ["Lushozi","Chare","Peter"]

In [2]:
People

['Lushozi', 'Chare', 'Peter']

In [3]:
People [0]

'Lushozi'

In [4]:
numbers = [6,7,8,7]

In [5]:
numbers

[6, 7, 8, 7]

### Tuple Data Type

In [6]:
products = ("TV","Radiio","Software")

In [7]:
products

('TV', 'Radiio', 'Software')

In [8]:
products[0]

'TV'

In [9]:
products[2]

'Software'

### String Data Type

In [10]:
name = 'Peter'

In [11]:
name

'Peter'

In [12]:
surname = "Johns"

In [13]:
surname

'Johns'

### Set Data Type

In [14]:
myset = {5,6,8,9,10}

In [15]:
myset

{5, 6, 8, 9, 10}

In [16]:
stringset = {'Peter','John','Allan'}

In [17]:
stringset

{'Allan', 'John', 'Peter'}

### Data Input/Output in Python

Age = input("Please enter your age: ")

In [18]:
Name = input("Please enter name: ")

Please enter name:  sne

In [19]:
print(Name)

sne

In [20]:
print("Your name is : ", Name)

Your name is :  sne

In [21]:
print("Your name is : "+ Name)

Your name is : sne

### Exercise 1

1. write a program to accept two integers from the input console and find thier product. Display the answer with a comment.

In [22]:
Number1 = int(input("Enter first integer:"))

KeyboardInterrupt: Interrupted by user

In [ ]:
Number2 = int(input("Enter second interger:"))

In [ ]:
print(" The product ot the two integers is: ", Number1* Number2)

#### 2. Write a simple program to accept the sides of a triangle and calculate the area of a triangle

Formula Hint Area = 1/2Base*Height

In [ ]:
# Accept the Base and Height
Base = float(input(" Enter the base of the triangle"))
Height = float(input(" Ener the height of the triangle"))

#calculate the area of the triangle
area =0.5 * Base * Height

#Display the result
print("The area of the triangle with base and height is: ", area)

### 3. Write a program that prompt the user to enter two values a and b and swap the variables. The value in variable a should be put variable b and the value in variable b be put in variable a. Display the swapped varriables

In [ ]:
a = int(input("Enter firtst value"))
b = int(input("Enter second value"))

In [ ]:
c = a
a = b
b = c
print(a)
print(b)

### 4. Write a program to calculate the perimeter of a rectangle.

In [ ]:
a = int(input("enter the length:"))
b = int(input("enter the width:"))
p = (2*a) + (2*b)
print("Perimeter is :",p)

### 5. Write a program to accept the name and age of a person. Display the person's entered details in one print statement.

In [ ]:
######e.g name is Peter and age is 30
name = input("Enter the name")
age = int(input("Enter the age"))
print("Your name is",name,"and your age is",age)

## Arithmetic Practice Questions

#### 1. How many seconds are in a 42 minutes and 42 seconds?

In [ ]:
## Set variables
seconds = 42
minutes = 42
print ("Total seconds ",60*42+42)

#### 2. How many miles are there in 100 kilometers?
#### Hint: 1mile = 1.61KM

In [ ]:
mile = 1.61
kilometers =100

total_miles = kilometers/mile
print(total_miles)

#### 3. if you run a 10 KM race in 42 minutes 42 seconds, what is your average pace in seconds per mile?

In [ ]:
miles = 10/1.61
seconds = 42*60+42
print("Pace in seconds per mile is", seconds/miles)

#### 4. What is your average pace in minutes and seconds per mile?

In [ ]:
minutes =(42*60+42)/60
average_minutes = minutes/miles
average_seconds =0.8747*60
print("Average pace in minutes per mile is ", int(average_minutes),"minutes and", int(average_seconds),"seconds")

#### 5. What is your average speed in miles per hour?

In [ ]:
speed = (10/1.61)/(minutes/60)
print("The speed in miles per hour is",speed)

#### 6. Accept two integers and determine the larger of the two numbers.

In [ ]:
num1 = int(input("Enter first number"))
num2 = int(input("Enter second numer"))
if (num1 > num2):
          print(num1,"is larger")
else: print(num2, "is larger")

In [ ]:
p = int(input("Enter Principal amount"))
r = float(input("Enter interest rate"))
n = int(input("Enter number of times"))
t = int(input("Enter time the money invested"))
print("The amount of money accumulated after n years A=",p*(1+(r/n))**n*t)

## IF Statement in Python

In [ ]:
#if <condition>:
#    <action(s)>
a = 8
b = 6
if a > b:
    print("a is larger than b")
    print("b is smaller than a")

### IF-ELSE Statement in Python

In [ ]:
# if <condition>:
#     <action(s)>
#   else:
#     <action(s)>
a = 9
b =12
if a > b:
    print("a is larger than b")
else:
    print("I an not sure, test again")

### IF -ELSE-IF Statement in Python

In [ ]:
#if <cindition>:
#   <action(s)>
#elif <condition>:
#    <action(s)>
#else:
#    <actions(s)>
a = 5
b = 5
if a > b:
    print("a is larger than b")
elif b < a:
    print("b is largernthan a")
elif a == b:
    print("a and b are equal")

Given a students score in an exam , grade the student according to Distinction, Credit, Pass and Fail.

Distinction = 75-100, Credit =60-74, Pass =50-59 and Fail = 0-49

In [ ]:
#Accepting the mark as input
mark = int(input("What did the student score"))
if mark >= 75 and mark <=100:
    print("Distinction")
elif mark >= 60 and mark <=74:
    print("Credit")
elif mark >=50 and mark <=59:
    print("Pass")
elif mark >=0 and mark <=49:
    print("Student Failed")
else:
    print("Invalid Mark")

### 1. Only the citizens who are 18 years old and above are eligible to vote in an election. write a program to vet a voter based on ther age.

In [ ]:
# Accepting the citizen age
age = int(input("Enter the age of the voter"))
if age >= 18:
   print ("eligible to vote")
else:
   print ("not eligible to vote")

#### 2. Write a program to accept an integer and determine whether the entered number is even or odd.

In [ ]:
num = int(input("Enter the even or odd number"))
if num%2==0:
    print("even number")
elif num%2!=0:
    print("Odd number")

#### 3. Accept 3 sides of a triangle a,b and c. Detertimine whether the triangle is Equilateral (All sides equal), Isosceles(2 sides equal)or Obtuse (All side not equal)

In [ ]:
### Accept 3 sides of a triangle
a= int(input("Enter side A"))
b = int(input("Enter side B"))
c = int(input("Enter side C"))
if a==b==c:
    print("Equilateral triangle")
elif a==b or a==c or b==c:
    print("Isosceles")
else: print ("obtuse triangle")

### Repetitive Srtuctures in Python (Iteration/Loops)

#### The While Loop

In [ ]:
while <condition>:
    <action>
    <increment condition variable>

In [ ]:
X = 0
while X < 5:
    print (X)
    X+=3

### The For Loop

In [ ]:
for <control variable> in <data structure>:
<action(s)>

In [ ]:
name = "Sipho"
for x in name:
    print(x)

In [ ]:
names =["Siphop","Alex","Mlondi","Peter"]
for x in names:
    if x == "Alex":
        print(x)

In [ ]:
## printing the 0dd numbers between 1 and 100 (Use the while loop)
x = 1
while x <=100:
    if x%2 == 1:
        print(x, end=" ")
    x+=1

In [ ]:
for i in range (5,100):
    if i%2== 1:
        print(i, end= " ")

In [ ]:
#range(initialvalue, finalvalue, increamentor)
range(1,10,2)

In [ ]:
i=0
while i<=100:
    print(i, end=" ")
    i=i+1

### calculate the sum of all integers from q to any given number

e.g Given 5, add 1+2+3+4+5

In [ ]:
num = int(input("Enter the number:"))
sum =0
for i in range(1, num+1):
    sum = sum+i
print("The sum of the values from 1 to the entered number is", sum)

# 17.10.24

#### Write a Python program to count the total  number of digit in a number. (Use while loop)

In [ ]:
number = int(input("Enter the number"))
count = 0
if number ==0:
   count=1
else:
   while number !=0:
      number = number//10
      count +=1
print(count)

### Write a program to create a list and print the list in reverse order.

In [ ]:
name = 'Lungelo','Lungile','Anele'
revname = reversed(name)
print(list(revname))

#### Write a Python program to display the following number pattern. 

hint: Use 2 for loops, one for rowws and the other taking care of the printing.)

In [ ]:
for p in range (1,5+1):
 for i in range (1,p+1):
    print (i, end=" ")
 print()

#### Write a Python program to ctreate a tuple with different data types

In [ ]:
Mytuple = ("Sanelisiwe", 20,0.23, True)
print(Mytuple)

####  Write a Python programe to unpack a tuple into several variables.

In [ ]:
name = 'Sanelisiwe'
age = 25
level =7
tuple = (name, age, level)
print(tuple)

##### An empty set and prrint its data type

In [ ]:
empytset={" "}
print(type(empytset,))

In [ ]:
nonemptyset={"Quella"}
print(type(nonemptyset))

### Given a range(start and end), write a program to print all prime numbers in that rage.

In [ ]:
start = int(input("Enter the initial value:"))
end = int(input("Enter the final value:"))
for num in range

#### Write a program to display intergers from -100 to -5

In [ ]:
for i in  range(-100,-5--1):
 print(i, end=" ")

## .10.2024: Repetitive Structures

In [ ]:
num= [2,6,9,15,20,25]
odd_count = 0
even_count = 0
for r in num:
   if r%2 == 0:
      even_count +=1
   else:
      odd_count +=1
print ("even_number", even_count , "and odd number",odd_count)

### 2 Write a Python program to accept a word and display the reversed version of the word.

In [ ]:
name= input("Enter a word:")
for i in name[::-1]:
    print (i, end=" ")

### 3 A Palindrome is a word that reads the same forwards and backwards. e.g madam, rotator. Write a python program to accept a word and check whether or not the word is apalindrome.

In [ ]:
word = (input("Enter a word"))
if word == word[::-1]:
    print(word,"is a Palindrone")
else:
        print(word," is not Palindrome")

### 4 The factorial of a number is the multiplication of all the numbers betweem 1 and the number itself. write a python program to accept a number and calculate the factorial of the number. e.g Fctorial of 5 is 5 x 4 x 3 x 2 x 1 = 120

In [ ]:
number = int(input("Enter number:"))
count = 1
for i in range(1,number+1):
    count*=i
print(f"the factorial of {number}", count)

## Functions in Python

In [ ]:
def disp(n):
    print(n)

In [ ]:
name = 'Peter'
disp(name)

In [ ]:
def modiv(a,b):
          return a%b

In [ ]:
x = int(input("Enter first number"))
y = int(input("Enter second number"))
z = modiv(x,y)
print(z)

### Define a function to calculate the speed of a train that travelled from Durban to Johhanesburg.

In [ ]:
def speed(distance, time):
    return distance/time
d = float(input("Enter distance:"))
t = float(input("Enter time in hours:"))
print("The speed of the train was",speed(d,t),"km/hr")

### 2. Using a function, write a program to calculate the final mark of a student given their final coursework and exam marks respectively.

In [ ]:
def Fmark(coursework, exam):
    return ((coursework+exam)/200*100)
c = int(input("Enter a coursework"))
e = int(input("Enter an exam"))
print (Fmark(c,e))

### 3. Using a Function , write a program to calculate the average of 10 students' marks.

In [ ]:
def Average(StMarks):
    return (StMarks/10)
S = int(input("Enter the Student Marks"))
t = Average(S)
print("Average of students",t)

### .4 Using a function , write a program to find the facrorial of a given number.

In [ ]:
def factorial(F):
    if F==0:
       return 1
    else: 
        return F*factorial(F-1)
numb= int(input("Enter the number"))
factorial(numb)

#### 5. Write a program to create a function that accepts two arguments, province and population, and display their values.

In [ ]:
def MyArgum(*arguments):
     print(arguments)
Argum1 = input("Enter the province")
Argum2 = int(input("Enter the population"))
print("MyArgum", Argum1, Argum2)

##### 6. Write a function to find the larger of two numbers.

In [ ]:
def LargNum(a,b):
    return(a<b)
Num1 = int(input("Enter the number"))
Num2 = int(input("Enter the number"))
print (LargNum(Num1, Num2))

In [ ]:
def LargNum(a,b):
    return (a>b)or(a<b)
num1=int(input("Enter the number"))
num2=int(input("Enter the number"))
if (num1>num2):
            print(num1,"is larger")
else: print(num2,"is larger")

### 7. Write a program with a function called find () to accept two integers and calculate their addition, substraction(first from second), multiplication and exponentiation (first to the power of the second)

#### 8. Write a function to calculate the sum of all numbers in a tuple.

In [ ]:
def Sum():
    return

## Python Pandas

### Pandas Series

In [ ]:
import pandas as pd
data=pd.Series([1,2,3,4,5,6,7], ['Sane','sthah','Yonela','Minoh','Mendy','Akhoh','Lungelo'])

In [ ]:
print(data)

### Pandas DataFrame

In [ ]:
import pandas as pd
data = {'Student name':['peter','Yammy','Londiwe','Sandile'], 'Surname': ['Khwela','Ngcobo','Mchunu','Msomi'], 'Marks': [65,45,53,78]}

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df

In [ ]:
df.to_excel('mydata.xlsx')

##### Create a data table of  5 car models, year of manufacture and price. Download the table as an Excel file.

In [ ]:
import pandas as pd
data = {'Car name':['Polo','Mercerdes','Range Rover','BMW','Avanza'], 'year':[2000,2001,2002,2020,2022], 'Price':[100000,300000,150000,280000,88000]}

In [ ]:
dc = pd.DataFrame(data, index =[1,2,3,4,5])

In [ ]:
dc

In [ ]:
dc.to_excel('mycars.xlsx')

In [ ]:
import pandas as df
data = {'Patient Number':[10012,20013,30014,40015,40016],
        'Patient Name':['Nokwanda','Sandiswa','Thobeka','Mxolisi','Sanele'],
        'Patient Surname':['Nyaba','Ngcobo','Ndlovu','Samela','Mkhwanazi'], 
        'Ward Number':[2,4,5,6,9],
        'Bed Number':[211,213,314,318,425]}
dc = df.DataFrame(data, index = [1,2,3,4,5])

In [ ]:
dc

In [ ]:
print(dc.loc[3])

In [ ]:
dc.loc[1:3,]

In [ ]:
dc.loc[[1,3], 'Patient Name']

## Reading a CSV File

In [ ]:
pandas.read_csv("Path of file")

In [ ]:
import pandas as pd
df = pd.read_csv('train.csv')

In [ ]:
df

In [ ]:
df.head(7)

In [ ]:
df.info()

In [ ]:
df.head()

In [ ]:
df.tail(5)

In [ ]:
ave.ap

In [ ]:
df.loc[0, 'price'] =555555    (replace)

In [ ]:
newdf.fillna(55555)

In [ ]:
import pandas as pd
dc = pd.read_excel('Dataset.xlsx')

In [ ]:
dc

In [ ]:
dc['Sales'] = pd.to_numeric(dc['Sales'], errors = 'coerce')

In [ ]:
dc

In [ ]:
ave = dc['Sales'].mean()

In [ ]:
ave

In [ ]:
dc['Sales'].fillna(ave, inplace = True)

In [ ]:
dc

In [ ]:
mod = dc['Region'].mode()
mod

In [ ]:
dc['Region'].fillna(mod, inplace = True)
dc

In [ ]:
dc.drop_duplicates()

In [ ]:
dc.drop_duplicates(['Last Name'])

In [ ]:
dc['Quarter'] = dc['Quarter'].str.replace('\d+',"")

In [ ]:
dc

In [ ]:
mod = dc['Quarter'].mode()[0]
print(mod)

In [ ]:
dc['Quarter'].fillna(mod, inplace = True)
display(dc)

In [ ]:
import pandas as pd
dc = pd.read_excel('Financial Sample.xlsx')
dc

In [ ]:
mod = dc['Discount Band'].mode()[0]
mod

In [ ]:
dc['Discount Band'].fillna(mod, inplace = True)
dc

In [ ]:
mod = dc['Segment'].mode()[0]
mod

In [ ]:
dc['Segment'].fillna(mod, inplace = True)
dc

In [ ]:
dc['sale Price']= pd.to_numeric(dc['Sale Price'], errors='coerce')
dc

In [ ]:
dc['Sale Price'].fillna(ave, inplace = True)
dc

#### Which segment had the highest number of units sold

In [ ]:
Highest_units = dc[['Segment','Units Sold']] [dc['Units Sold']==dc['Units Sold'].max()]
Highest_units

In [ ]:
dc.info()

### 2. Extract all data about the 'Government Segment'.

In [ ]:
GS= dc[dc['Segment']=='Government']
GS

### 3. How many records of each product do wehave in the dataset?

In [ ]:
Procount=dc['Product'].value_counts()
Procount

### Python Pandas Functions: Practice Exercises 06.11.2024

In [ ]:
import pandas as pd
dc = pd.read_excel('Financial Sample.xlsx')
dc

In [ ]:
mod = dc['Discount Band'].mode()[0]
mod

In [ ]:
dc['Discount Band'].fillna(mod, inplace = True)
dc

In [ ]:
mod = dc['Segment'].mode()[0]
mod

In [ ]:
dc['Segment'].fillna(mod, inplace = True)
dc

In [ ]:
dc['Sale Price']=pd.to_numeric(dc['Sale Price'],errors='coerce')
dc

In [ ]:
ave=dc['Sale Price'].median()

In [ ]:
dc['Sale Price'].fillna(ave,inplace= True)
dc

#### 2. Display a statistical summary of the numerical columns in the DataFrame.

In [ ]:
Summary_Num_columns =dc.describe()
Summary_Num_columns

#### 3. Find duplicate rows in the Sale Price column.

In [ ]:
Duplicates = dc[dc['Sale Price'].duplicated()== False]
Duplicates

#### 4. Extract a 25% sample of the dataframe.

In [ ]:
Sample_dc=dc.sample(frac=0.25)
Sample_dc

#### 5. Extract exactly 10 random rows from the dataframe.

In [ ]:
random_rows = dc.sample(n=10)
random_rows

#### 6. Extract the first 25 rows the dataframe

In [ ]:
dc.head(25)

#### 5. Etract the last 15 rows from the dataframe.

In [ ]:
lastrows=dc.tail(15)
lastrows

#### 8. Display all the unique products, countries, discount bands and segments in the dataframe.

In [ ]:
unique_products= dc['Product'].unique()
unique_country= dc['Country'].unique()
unique_discountBand= dc['Discount Band'].unique()
unique_segment= dc['Segment'].unique()

print(unique_products)
print(unique_country)
print(unique_discountBand)
print(unique_segment)

#### 9.Display the number of unique  values in each row.

In [ ]:
num_unique_values = dc.apply(lambda row:row.unique(),axis=1)
num_unique_values

## visualisation in Python

### Ploting a simple Line Graph

In [ ]:
#Importing the needed graphing library
from matplotlib import pyplot as plt

#generating x and y data for the graph
x = [6,7,5,7]
y = [3,5,6,7]

#Ploting the graph
plt.plot(x,y)

#display the graph
plt.show()

In [ ]:
#Importing the needed graphing library
from matplotlib import pyplot as plt

#generating x and y data for the graph
x = [6,7,5,7]
y = [3,5,6,7]

#Ploting the graph
plt.plot(x,y)

#Adding labels
plt.
#display the graph
plt.show()

In [ ]:
from matplotlib import pyplot as plt
#importing styling library
from matplotlib import style
style.use('ggplot')

#Generating x and y data for the graph
x = [6,2,0,3]
y = [3,3,6,3]
x1 =[4,5,6,7]
y1 =[5,7,6,9]

#Ploting the graph and adding style(plotting 2 lines)
plt.plot(x,y, 'green', label = 'equation Line', linewidth = 3)
plt.plot(x1,y1, 'k', label = 'equation line', linewidth =2)

#adding labels, Legend and grid to the chart
plt.title('My Line Cart')
plt.xlabel('X Axis')
plt.ylabel('Y Axis')
plt.legent(loc = 'upper right')
plt.grid(True, colour = 'pink')

#display the graph
plt.show()

### Plottig aa Bar Chart

In [ ]:
import matplotlib.pyplot as plt
x = [0.20, 1,1.20, 2,2.5, 3,3.5]
y = [15,25,36,45,56,70,88]
plt.bar(x,y, label = 'Bar', width = 1, color ='blue')
plt.show()

In [ ]:
import matplotlib.pyplot as plt
x = [0.20, 1,1.20, 2,2.5, 3,3.5]
y = [15,25,36,45,56,70,88]
plt.bar(x,y, label = 'Bar', width = 1, color ='blue')
plt.xticks([0,2,4,6,8,10])
plt.yticks([0,10,20,30,40,50,60,70])
plt.show()

In [ ]:
import matplotlib.pyplot as plt
x = [0.20, 1,1.20, 2,2.5, 3,3.5]
y = [15,25,36,45,56,70,88]
plt.bar(x,y, label = 'Bar', width = 1, color ='blue')
plt.xticks([0,2,4,6,8,10])
plt.yticks([0,10,20,30,40,50,60,70])
plt.title('Bar Chart')
plt.xlabel('Days')
plt.ylabel('Sale Units')
plt.legend()
plt.show()

### create a two-line graph. Generate your own Data for the Graph. Labbel the x and y  axis, and the linnes and give title to your graph.

In [ ]:
from matplotlib import pyplot as plt
#importing styling library
from matplotlib import style
style.use('ggplot')
#Generating x and y data for the graph
a = ['Durban','Tongaat','Gateway','Mhlanga']
b = [4,5,6,7]
c = [7,9,7,11]
#Ploting the graph and adding style(plotting 2 lines)
plt.plot(x,y, 'green', label = 'equation Line', linewidth = 2)
plt.plot(x1,y1, 'k', label = 'equation line', linewidth =1)

#adding labels, Legend and grid to the chart
plt.title('My Line Cart')
plt.xlabel('b Axis')
plt.ylabel('c Axis')
plt.legent(loc = 'upper right')
plt.grid(True, colour = 'pink')

#display the graph
plt.show()

### Plotting a Histogram

In [ ]:
#Plotting a histogram for population data.
import matplotlib.pyplot as plt
height = [50,80,150, 145, 170, 165, 157, 189, 171, 166, 168,158]
bins = [0,50,100,150,200]
plt.hist(height, bins, histtype = 'bar', rwidth= .9, color = 'm')
plt.title('Height Distibution')
plt.xlabel('Height Category')
plt.ylabel('no. of people')
plt.yticks([1,2,3,4,5,6,6,8,9,10])
plt.show()

## Plotting a Scatter Chart

In [ ]:
import matplotlib.pyplot as plt
x = [1,2,3,4,0,2,5,4,9]
y =[6,6,7,8,5,4,6,7,4]
x1 = [4,6,8,9,4,6,7]
y1 = [4,5,6,4,6,3,6]
plt.scatter(x,y, label = 'My First Scatter', color = 'r')
plt.scatter(x1,y1, label = 'My Second Scatter', color = 'b')
plt.title('My Scatter Chart')
plt.xlabel('x Points')
plt.ylabel('y Points')
plt.xticks([1,2,3,4,5,6,7,8,9,10])
plt.yticks([1,2,3,4,5,6,7,8,9,10])
plt.legend()
plt.show()

In [ ]:
import matplotlib.pyplot as plt
x = ['Andile','Busi','Mark','Penyo','Percy','Peter']
y= [55,65,67,65,67,78]
plt.bar(x,y, label = 'Bar', width = .3, color ='blue')
plt.yticks([0,10,20,30,40,50,60,70])
plt.title('Students Marks')
plt.xlabel('Students')
plt.ylabel('Marks')
plt.legend()
plt.show()

In [ ]:
import matplotlib.pyplot as plt
fig = plt.figure()
sizes =fig.add_axes([0,0,1,1])
x = ['Saneh','Sthandiwe','Mahlengy','Lungelo','Sabelo']
y = [3500,2200,1500,5000,4000]
sizes.pie(y, labels= x, autopct = '%.2f%%')
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
df=pd.read_csv('Company Sales.csv')
a= df['month_number'].tolist()
b= df['total_profit'].tolist()
plt.plot(a,b, label = 'Line',linewidth=1)
plt.title('Company Profit')
plt.xlabel('Month Number')
plt.ylabel('Total Profit')
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
df=pd.read_csv('Company Sales.csv')
x= df['month_number'].tolist()
y= df['total_units'].tolist()
plt.plot(a,b, label = 'profit/month',linestyle = "--", linewidth=3, marker= 'o',color='red')
plt.title('Company Total Profit')
plt.xlabel('month Number')
plt.ylabel('total_units')
plt.legend(loc= 'upper left')
plt.xticks([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15])
plt.show()

## Visualisation in Python Practice Exercises: 14.11.2024

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
df=pd.read_csv('Company Sales.csv')
fc=df['facecream'].tolist()
fw=df['facewash'].tolist()
tp=df['toothpaste'].tolist()
bs=df['bathingsoap'].tolist()
s =df['shampoo'].tolist()
m =df['moisturizer'].tolist()
plt.plot(fc, label = 'facecream',linewidth=1, color='red')
plt.plot(fw, label = 'facewash',linewidth=1,  color='blue')
plt.plot(tp, label = 'toothpaste',linewidth=1, color='pink')
plt.plot(bs, label = 'bathingsoap',linewidth=1, color='orange')
plt.plot(s, label = 'shampoo',linewidth=1, color ='black')
plt.plot(m, label = 'moisturizer',linewidth=1, color ='yellow')
plt.title('Sold Units per product')
plt.xlabel('Number of units per month')
plt.ylabel('Month Number')
plt.legend(loc= 'upper left')
plt.grid(True, color = 'purple' )
plt.gca().set_facecolor('skyblue')
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
a= df['month_number'].tolist()
b= df['toothpaste'].tolist()
plt.scatter(a,b, label = 'tothpaste',linewidth=2, color='blue')
plt.grid(True, color = 'grey', linestyle = "--")
plt.gca().set_facecolor('pink')
plt.legend(loc= 'upper left')
plt.show()

In [ ]:
import matplotlib.pyplot as plt
p=df['month_number'].tolist()
fc=df['facecream'].tolist()
fw=df['facewash'].tolist()
plt.bar([x-0.5 for x in p], fc, label = 'facecream', width=0.5,color='red', align = 'edge')
plt.bar([x+0.5 for x in p], fw, label = 'facewash', width=-0.5,color='blue',align ='edge')
plt.title('Sold Units per months')
plt.xlabel('Months')
plt.ylabel('Products')
plt.xticks([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15])
plt.yticks([1000,1500,2000,2500,3000,3500,4000,4500,5000,5500,6000])
plt.gca().set_facecolor('pink')
plt.legend()
plt.show()

In [ ]:
import matplotlib.pyplot as plt
saleist=['facecream','facewash','toothpaste','bathingsoap','shampoo','moisturizer']
TotalSales=df[['facecream','facewash','toothpaste','bathingsoap','shampoo','moisturizer']].sum()
fig = plt.figure()
sizes =fig.add_axes([0,0,1,1])
plt.pie(y, labels= x, autopct = '%.2f%%')
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
df = pd.read_csv('Company Sales.csv')
bins = [100000, 150000, 200000, 250000,300000,400000,450000]

## 20.11.2024

### Which segment had the highest number of units sold

In [ ]:
import pandas as pd
dc = pd.read_excel('Financial Sample.xlsx')
dc

### 1. Which segment had the highest number of units sold?

In [ ]:
Highest_units = dc[['Segment','Units Sold']] [dc['Units Sold']==dc['Units Sold'].max()]
Highest_units

### 2. Extract all Data about the 'Government Segment'.

In [ ]:
GS = dc[dc['Segment']=='Government']
GS

### 3. How many records of each product do we have in dataset

In [ ]:
procount = dc['Product'].value_counts()
procount

### 4. Find the highest number of units sold for each product

In [ ]:
highest = dc.groupby('Product')
Units= highest[['Product','Units Sold']].max()
Units

### 5. Display records for the top 10 selling products.

In [ ]:
dc.nlargest(10, 'Units Sold')

In [ ]:
dc.nsmallest(10, 'Profit')

In [ ]:
dc.rename(columns = {'Units Sold':'Quantity','Segnment':'Sector','Sale Price':'Price'}, inplace = True)
dc

In [ ]:
import pandas as pd
dc=pd.read_excel('Dataset1.xlsx')
dc

### 2. Plot a Bar Graph to visualise total sales by region. Which province had the highest sales made

In [ ]:
import matplotlib.pyplot as plt
sales_region= dc.groupby('Region')
Tsales= sales_region[['Region','Sales']].max()
Tsales
x =dc['Region'].tolist()
y =dc['Sales'].tolist()
plt.bar(x,y, label = 'Highest Sale', width = .3, color ='blue')
plt.title('Total Sales/Region')
plt.xlabel('Region')
plt.ylabel('Sales')
plt.show()

In [ ]:
highest = dc.groupby('Product')
Units= highest[['Product','Units Sold']].max()
Units

In [ ]:
import matplotlib.pyplot as plt
highest = dc.groupby('Region')
fig = plt.figure()
sizes =fig.add_axes([0,0,1,1])
x = [
y = [
sizes.pie(y, labels= x, autopct = '%.2f%%')
plt.show()

## 27/11/2024

### Liner Regression & Machine Learning

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe3 in position 14: invalid continuation byte

In [ ]:
#iporting the reggression library
from sklearn.linear_model import LinearRegression

#Create a Linear regresssion pbject/model using the existing data 
lmodel = LinearRegression()
lmodel

In [ ]:
#Extracting the features to be used in the prediction
x = df[['total_bill']]
y = df[['tip']]

#Fit the existing data into the regression object/model
lmodel.fit(x,y)

In [ ]:
#Predict values (tips)